body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	margin:0px 0px 0px 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.main-menu {
	position: static;
	width: 100%;
	height: 65px;
	background-color: #3498db;
	z-index: 1;
}

.logo {
	margin-top: -16px;
}

.searching {
	width: 100%;
	height: 150px;
	background-color: transparent;
	padding-left: 300px;
	padding-right: 300px;
}

.map {
	width: 100%;
	height: 100%;
}

@media (max-width: 970px) {
	.searching {
		padding-right: 50px;
		padding-left: 50px;
	}
}